.open-gallery-button {
  position: fixed;
  bottom: 20px;
  right: 600px;
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  z-index: 1;
}

.open-gallery-button:hover {
  background-color: #0056b3;
}


.image{
  width: 20%;
}
.app {
    text-align: center;
    padding: 20px;
    background-color: #f5f5f5;
  }
  
  h1 {
    margin-bottom: 60px;
  }
  

  .carousel-container {
    margin-top: 20px;
  }
  